<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../style.css">
</head>
<div class="header">
    <h1>Rocket Project</h1>
</div>

<body>
    <h1>Rocket </h1>

        <div class="content-div">
            <nav>
                <ul>
                    <li><a href="../../index.html"><img src="../../images/icon-home.png" class="icon"></a></li>
                    <li><a href="#"><img src="../../images/icon-rocket.png" class="icon"></a></li>
                    <li><a href="./crewman.html"><img src="../../images/icon-crewman.gif" class="icon"></a></li>
                    <li><a href="./crew.html"><img src="../../images/icon-crew.png" class="icon"></a></li>
                    <li><a href="./launch.html"><img src="../../images/icon-launch.png" class="icon"></a></li>
                </ul>
            </nav>
            
            <div class="data-div">
                <div id="rocketList"></div>
            </div>
        </div>
    </body>
    
    <script src="../../src/script/rocket.js"></script>
</body>

<div class="footer">
    <h5>Biuld with love ❤️ at <a href="https://www.joinplank.com/">fellowship plank </a> </h5>
</div>

</html>